/*GENERAL DOC*/
body{
    margin-left: 2rem;
    margin-right: 2rem;
}
main {
    margin-bottom: 2rem;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
}
/*NAVBAR*/
.navbar img{
    height:2rem;
    width:2rem;
}
.navbar .navbar-brand a{
    color:grey;
}
/**CARDS*/
.card {
    margin-right: 1rem;
}
.card:last-child {
    margin-right: 0;
}
/*TEXT*/
p{
    text-align: justify;
}
/*INICIO*/
.inicio{
    .h2{
        font-size: 10rem;
    }
    .VictorCh{
        border-radius: 50%;
    }
}
/*ITCHIO*/
.itchio{
    h2{
        text-align: left;
    }
    h1{
        text-align: center;
    }
}
