/*GENERAL DOC*/
body{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: black;
    background: lightgrey;
}
main {
    margin-bottom: 2rem;
}
/*Containers*/
.container{
    flex: 1;
}
/*TEXT*/
p, a{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
h1, h2{
    font-size: 3rem;
    font-weight: bold;
    font-family: Agbalumo;
}
.h2-big{
    font-size: 8rem;
}
h3{
    font-size: 2rem;
    font-weight: bold;
    font-family: Agbalumo;
}
/*NAVBAR*/
.navbar img{
    height:4rem;
    width:4rem;
}
.navbar .navbar-brand a{
    color:grey;
}
/*Images*/
.img-art{
    border-radius: 1rem;
    margin: 1rem;
}
/*INICIO*/
.inicio{
    .VictorCh{
        border-radius: 50%;
        width: 90%;
        height: 90%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }
}
/**CARDS*/
.card{
    margin-right: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 1 rem;
    card:last-child{
        margin-right: 0rem;
    }
}
/*Footer*/
footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
}
.card-header{
    font-weight: bold;
    text-transform: uppercase;
}
/*tablets*/
@media (max-width: 768px) {
    .card{
        margin: 7rem;
    }
    .card img{
        text-align: center;
    }
}
/*Mobile*/
@media (max-width: 480px) {
    .card{
        margin: 1rem;
    }
    .card img{
        text-align: center;
    }
}