.navbar img{
    height:7rem;
    width:7rem;
}
/**CARDS*/
.card {
    margin-right: 1rem;
}
.card:last-child {
    margin-right: 0;
}
/*TEXT*/
p{
    text-align: justify;
}
/*INICIO*/
.inicio{
    .h2{
        font-size: 10rem;
    }
    .VictorCh{
        border-radius: 50%;
    }
}
